build
__pycache__
dist/
*.pyd
README.assets/tip01.png
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/WaterRunlogAnalyzer.iml
.ui.dump
